
<div class="card">
  <%= link_to item_path(item) do%>
    <div class="container">
      <p><strong>Item description:</strong> <%= item.name %></p>
      <p><strong>Quantity in inventory:</strong><%= item.quantity %></p>
    </div>
  <% end %>
  <div class="container">
    <li style="display:inline"><%= link_to 'edit/delete', edit_item_path(item), :class => "button" %></li>
    <li style="display:inline"><%= link_to 'ship items', new_item_shipped_item_path(item), :class => "button" %></li>
  </div>
</div>
