<div>
  <h3><%= link_to "Back to Items Index", root_path, :class => "button" %></h3>
</div>

<%= simple_form_for(@item) do |f| %>
  <h3><%= f.input :name %></h3>
  <h3><%= f.input :quantity %></h3>
    <%= f.button :submit, "Confirm Changes", class: "button" %>
<% end %>

<%= button_to 'Delete', item_path(@item), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'button'%>
