<h1>Item New</h1>

<div>
  <h3><%= link_to "Back to Items Index", root_path, :class => "button" %></h3>
</div>

<%= simple_form_for(@item) do |f| %>
  <h3><%= f.input :name, label: "Item description" %></h3>
  <h3><%= f.input :quantity %></h3>
  <%= f.button :submit, "Create Inventory Item", class: "button" %>
<% end %>
