<div>
  <h3><%= link_to "Back to Items Index", root_path, :class => "button" %></h3>
</div>

<%= simple_form_for(@item) do |f| %>
  <%= f.input :name %>
  <%= f.input :quantity %>
  <%= f.button :submit, "Create Inventory Item", class: "button" %>
<% end %>
