<h3><%= link_to "Back to Items Index", root_path, :class => "button" %></h3>

<ul>
  <li><p>Item Description: <%= @item.name %></p></li>
  <li><p>Item Quantity: <%= @item.quantity %></p></li>
</ul>
<h3><%= link_to "edit", edit_item_path(@item), :class => "button" %></h3>

<h3>Specify below quantity to add to a shipment</h3>

<%= simple_form_for(@shipped_item) do |f| %>
  <%= f.input :quantity %>
  <%= f.input :shipment, as: :select, collection: @shipments, prompt: 'Select Shipment' %>
  <%= f.hidden_field :item, value: @item.id %>
  <%= f.submit 'Confirm Changes' %>
<% end %>
