<h1>Item Show</h1>

<h3><%= link_to "Back to Items Index", root_path, :class => "button" %></h3>

<ul>
  <li><p><strong>Item description: </strong> <%= @item.name %></p></li>
  <p><strong>Quantity in inventory: </strong>  <%= @item.quantity %></p>
</ul>

<li style="display:inline"><%= link_to 'edit/delete', edit_item_path(@item), :class => "button" %></li>
<li style="display:inline"><%= link_to 'ship items', new_item_shipped_item_path(@item), :class => "button" %></li>
