<p><%= link_to "Add items from Inventory", root_path, :class => "button" %></p>

<% @shipped_items.each do |shipped_item| %>
  <ul>
    <%= shipped_item.item.id %>
    <%= shipped_item.item.name %>
    <%= shipped_item.quantity %>
    <%= shipped_item.shipment.status %>
  </ul>
<% end %>

<%= button_to 'Confirm Shipment', shipment_path(@shipment), method: :patch, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'button'%>
<%= button_to 'Delete', shipment_path(@shipment), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'button'%>
