<p><%= link_to "Add items from Inventory", root_path, :class => "button" %></p>

<p><strong>Shipment status: </strong><%= @shipment.status %></p>


<% @shipment.shipped_items.each do |shipped_item| %>
  <ul>
      <li><p><strong>Item description: </strong><%= shipped_item.item.name %></p></li>
      <p> Quantity in shipment: <%= shipped_item.quantity %></p>
  </ul>
<% end %>

<%= button_to 'Confirm Shipment', shipment_path(@shipment), method: :patch, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'button'%>
<%= button_to 'Delete', shipment_path(@shipment), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'button'%>
